@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1637219684759') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e641";
}

.icon-dui:before {
  content: "\e63f";
}

.icon-xialajiantouxiao:before {
  content: "\e87e";
}

